@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a, li {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.login{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    background: rgba(46,49,48,255);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease all;
}

.logo-header img{
    width: 50px;
}

.header{
    background-color: #1b8d73;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}

.menu ul{
    display: flex;
    align-items: center;

}
.menu li{
    margin-right: 1.5rem;
   
}

.menu a:hover{
    color: #3c3c44;
}

.menu li:last-child{
    background-color: #3c3c44;
    border: 2px solid #3c3c44;
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.menu li:last-child:hover{
    background: transparent;
    border: 2px solid #3c3c44;  
}

body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
   
}

.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #2b2a2f, #575b83);
    position: relative;
    overflow: hidden;
}

.header_nav h1{
    color: #fff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: movimiento 2.5s linear infinite;
}

.header_nav nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner_title h2{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner_title .llamanos{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #1b8d73;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease all;
    
}
.banner_title .llamanos:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}


.banner_img{
    animation: movimiento 2.5s linear infinite;
    
}

.banner_img img{
    width: 600px;
    display: block;
}

/* burbujas */

.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}